<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>time display</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col items-center  min-h-screen gap-6 pt-20">
    <div class="border-2 border-gray-800  p-6 shadow-md w-64 ">
      <h1 class="text-center">The Current Date and Time</h1>
    </div>
    <div class="border-2 border-gray-800  p-6 shadow-md w-80">
      <p class="text-center text-lg font-bold">{{ date }}</p>
      <p class="text-center text-lg font-bold"> {{ time }}</p>
    </div>
  </body>
</html>
