<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>author</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex items-center justify-center gap-20 p-10">
      <div>
        <form action="/authors/create" method="post">
          {%csrf_token%}
          <h1 class="text-3xl">Add an Author</h1>
          <div class="flex mb-4 gap-4 w-full">
            <label for="first_name" class="w-24 whitespace-nowrap"
              >First Name</label
            >
            <input
              type="text"
              name="first_name"
              class="border border-black w-full"
            />
          </div>
          <div class="flex mb-4 gap-4 w-full">
            <label for="last_name" class="w-24 whitespace-nowrap"
              >Last Name</label
            >
            <input
              type="text"
              name="last_name"
              class="border border-black w-full"
            />
          </div>
          <div class="flex mb-4 gap-4 w-full">
            <label for="notes" class="w-24 whitespace-nowrap">Notes</label>
            <textarea
              name="notes"
              class="border border-black w-full"
            ></textarea>
          </div>
          <button
            type="submit"
            class="border border-black px-4 py-2 shadow-[4px_4px_0px_black]"
          >
            Add
          </button>
        </form>
      </div>
      <div>
        <table class="border border-black border-collapse">
          <tr class="bg-gray-300">
            <th class="border border-black p-2">ID</th>
            <th class="border border-black p-2 w-64">Name</th>
            <th class="border border-black p-2">Action</th>
          </tr>

          {% for author in all_authors %}
          <tr class="border-b border-gray-400">
            <td class="border-l border-r border-black p-2">{{author.id}}</td>
            <td class="border-r border-black p-2">
              {{author.first_name}} {{author.last_name}}
            </td>
            <td class="border-r border-black p-2">
              <a href="/authors/{{author.id}}" class="underline text-blue-500"
                >View</a
              >
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
