<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>info</title>
  </head>
  <body>
    <h1>Thank you for your order!</h1>
    <p>
      we order {{count}} items for you and charged ypur student account on March
      23rd 2019
    </p>
    <h3>You've ordered</h3>
    <table>
      <tr>
        <th>Fruit Name</th>
        <th>Quantity</th>
      </tr>
      <tr>
        <td>strawberry</td>
        <td>{{strawberry}}</td>
      </tr>
      <tr>
        <td>Raspberry</td>
        <td>{{raspberry}}</td>
      </tr>
      <tr>
        <td>Apple</td>
        <td>{{apple}}</td>
      </tr>
    </table>
    <h2>Your Information</h2>
    <div>
      <label>Name</label>
      <span>{{name}}</span>
    </div>
    <div>
      <label>Your Student ID</label>
      <span>{{id}}</span>
    </div>
  </body>
</html>
