h1 {
  text-align: center;
}
.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.row {
  display: flex;
}
.box {
  height: 30px;
  width: 30px;
}
